.header {
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  align-items: center;
  padding: 95px 50px 90px 50px;
  font-size: 18px;
}

.header__menu {
  align-self: center;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 35px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 100%
}

.header__logo-image {
  max-width: 148px;
  max-height: 105px;
}

.address {
  align-self: center;
  padding-right: 38px;
  font-style: normal;
  line-height: 1.35;
}

.header__address {
  justify-self: end;
}

.cover {
  z-index: -2;
  min-width: 1100px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  z-index: -1;
  width: 100%;
  height: 757px;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__tittle {
  padding: 165px 50px 40px 51px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  /*ОНО*/
  display: block;
  line-height: 1.1;
}

.aligned-text_center {
  /* ТЕБЕ */
  line-height: 1.44;
  text-align: center;
}

.aligned-text_right {
  /* НАДО */
  line-height: 1;
  text-align: right;
}

.no-letter-spacing {
  margin-right: -0.1em;
}

.cover__description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 78px;
  padding: 85px 50px 50px 80px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 1.1rem;
}

.bet-button {
  min-width: 256px;
  min-height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.lots {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  padding: 180px 24px 155px 24px;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
}

.card {
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 334px;
  height: 596px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

.card__title {
  padding: 51px 40px 0 40px;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  padding: 0 40px 48px 40px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  padding-top: 30px;
  padding-left: 40px;
  color: #000;
  font-size: 20px;
}

.about {
  padding: 24px 25px 180px 25px;
}

.about__column {
  display: grid;
  grid-template-columns: 335px 1fr;
  justify-items: center;
  justify-self: center;
  align-self: center;
}

.about__logo {
  display: flex;
  grid-column: 1;
  grid-row: 1/3;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  padding: 35px;
  background-color: rgb(0 0 0);
}

.about__logo-image {
  width: 150px;
  height: 110px;
}

.about__title {
  padding: 100px 390px 0 10px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 8px 0 0 25px;
  padding-right: 4px;
  padding-left: 16px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  width: 100%;
  padding: 0 50px 88px 50px;
  color: #000;
  font-size: 18px;
}

.footer__address {
  justify-self: start;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  list-style: none;
}

.footer__menu-link_active {
  list-style: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}